/* ====================================
   Footer's style
   ==================================== */

#site-footer {
    margin-top: 30px;
    .linked-site {
        @include clearfix();
        margin-bottom: 15px;
        li {
            float: left;
            margin-right: 20px;
        }
    }
}

.footer {
    &__info {
        text-align: center;
        padding: 15px 0;
        border-top: 2px solid $brand-primary;
        background-color: #f0f0f0;
        p {
            color: #333;
            @include font-size(13, 18);
            margin-bottom: 3px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__link {
        a {
            &::before {
                content: '|';
                color: #555;
                display: inline;
                padding: 0 10px;
            }
            &:first-child {
                &::before {
                    content: '';
                }
            }
        }
    }
}
