/* ====================================
   All region in project
   ==================================== */


/* zone global style */

.zone {
    margin-bottom: 20px;
    &__title {
        font-size: 18px;
        line-height: 1.2em;
        margin-bottom: 10px;
        position: relative;
        background-color: $brand-success;
        border-bottom: 2px solid darken($brand-success, 10%);
        @include transition(all, 0.2, ease);
        a {
            padding: 5px 10px;
            color: white;
            display: block;
        }
        &:hover {
            background-color: darken($brand-success, 5%);
            border-bottom-color: darken($brand-success, 15%);
        }
        .featured-area & {
            font-size: 14px;
            a {
                color: $brand-danger;
                &:hover {
                    color: $brand-primary;
                }
            }
        }
        .cate {
            &::before {
                content: '-';
                display: inline;
                padding: 0 8px;
                color: $brand-primary;
            }
            &:first-child {
                &::before {
                    display: none;
                }
            }
        }
        .sub-cate {
            font-size: 16px;
            text-transform: none;
            margin-left: 10px;
            font-weight: normal;
        }
        .normal-area .main-col &,
        .slider-area & {
            padding-left: 15px;
            &::before {
                content: '';
                display: block;
                width: 8px;
                height: 14px;
                background-color: $brand-primary;
                position: absolute;
                top: 5px;
                left: 0;
            }
        }
    }
    &__content {
        @include clearfix();
    }
    &__viewmore {
        text-align: right;
        font-size: 12px;
        a {
            color: #999;
            &:hover {
                color: $brand-primary;
            }
        }
    }
    // highlight zone
    &--highlight {
        position: relative;
        .slider__tool {
            width: 110px;
            height: 50px;
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: #174d85;
        }
        .slider__pager {
            height: 25px;
            text-align: center;
            padding-top: 4px;
        }
        .viewmore {
            text-align: center;
            font-size: 12px;
            a {
                color: white;
                &:hover {
                    color: #aaa;
                }
            }
        }
    }
    /* slider-zone */
    &.zone-slider,
    &.album-zone {
        .zone-content {
            position: relative;
        }
        .bx-viewport {
            margin-bottom: 10px;
        }
        .bx-pager {
            text-align: center;
            .bx-pager-item {
                display: inline-block;
                margin-left: 5px;
                margin-right: 5px;
                height: 35px;
                a {
                    display: block;
                    text-indent: -9999em;
                    width: 8px;
                    height: 8px;
                    margin-top: 13px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    border-radius: 50%;
                    background-color: #d8d8d8;
                    &.active {
                        background-color: $brand-primary;
                    }
                }
            }
        }
        .slider-control {
            .fa {
                width: 30px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                background-color: rgba(0, 0, 0, .4);
                min-width: 33px;
                color: white;
                top: 38px;
                @include respond-to-sm-only() {
                    top: 22px;
                }
                @include respond-to-xs() {
                    top: calc(50% - 25px);
                }
                a {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
                &.fa-angle-left {
                    position: absolute;
                    left: 0;
                }
                &.fa-angle-right {
                    position: absolute;
                    right: 0;
                }
                &:focus,
                &:active {
                    margin-top: 1px;
                }
            }
        }
    }
    &--highlight {
        .zone__featured {
            position: relative;
            .slider-control {
                .fa {
                    font-size: 54px;
                    width: 30px;
                    height: 50px;
                    line-height: 50px;
                    color: white;
                    top: 140px;
                    text-align: center;
                    opacity: .5;
                    @include transition(opacity, 0.2, ease);
                    a {
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
                    &.fa-angle-left {
                        position: absolute;
                        left: 0;
                    }
                    &.fa-angle-right {
                        position: absolute;
                        right: 0;
                    }
                    &:hover {
                        opacity: .8;
                    }
                    &:focus,
                    &:active {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &--slider {
        .zone__content {
            position: relative;
            .slider-control {
                .fa {
                    font-size: 24px;
                    width: 30px;
                    height: 50px;
                    line-height: 50px;
                    color: white;
                    top: 60px;
                    text-align: center;
                    opacity: .5;
                    @include transition(opacity, 0.2, ease);
                    a {
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
                    &.fa-angle-left {
                        position: absolute;
                        left: 0;
                    }
                    &.fa-angle-right {
                        position: absolute;
                        right: 0;
                    }
                    &:hover {
                        opacity: .8;
                    }
                    &:focus,
                    &:active {
                        opacity: 1;
                    }
                }
            }
            .slider__pager {
                text-align: right;
                // font-size: 0;
                & > a {
                    margin: -0px 0 0 3px;
                    &.active {
                        background: #bbb;
                    }
                }
            }
        }
    }
    &--grey {
        .zone__title {
            margin-bottom: 0;
        }
        .zone__content {
            background-color: #f0f0f0;
            padding: 10px;
            border: 1px solid #ddd;
            border-top: none;
        }
    }
}


/* category-listing */

.category {
    &__listing {}
}


/* .box-slider */

.qc {
    @include clearfix();
    margin-bottom: 20px;
    text-align: center;
}
